.navbar-nav > li{
    padding-top: 30px;
    padding-bottom: 30px;
    top: -15px;
    left : -50px;
}
.navbar{
    top : -15px;
}
.navbar-brand{
    padding-left:50px;
    padding-right:30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-right {
    margin-right: 100px;
}
.navbar-form{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -10px;
}
.row_1 {

    background-color: rgb(196,162,226);
    /* opacity: 0.302; */
    left: 374px;
    top: 145px;
    width: 100%;
    height: 500px;
    z-index: 242;
}
.World_Map{
    float: right;
    margin-top: 150px;
    margin-right: 250px;
}
.Clouds {
    position: absolute;
    top: 395px;
    width: 100%;
}
.Mid_cloud{
    position: absolute;
    top: 383px;
    left: 264px;

}
.Mid_server{
    float: right;
    position: relative;
    left: 919px;
    bottom: 52px;

}
.Left_server{
    float: right;
    position: relative;
    bottom: -317px;
    left: 718px;
}
.Right_server{
    float: right;
    position: relative;
    left: 1040px;
    bottom: -166px;
}

.server_text {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 327.415px;
    top: 122.745px;
    z-index: 252;
    width: 28%;
}
.server_text > ul {
    list-style-type: none;
    margin-top: -19px;
    
}
.checkmark{
    position: relative;
    left: -28px;
    bottom: -18px;
}

.navbar {
background-image: -moz-linear-gradient( 90deg, rgb(237,242,246) 0%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient( 90deg, rgb(237,242,246) 0%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient( 90deg, rgb(237,242,246) 0%, rgb(255,255,255) 100%);
box-shadow: 0px 4px 1.96px 0.04px rgba(51, 71, 82, 0.4);
position: absolute;
left: 0px;
top: 44px;
width: 100%;
height: 76px;
z-index: 265;
}


.Call_Us {
    font-size: 11px;
    font-family:  Arial, Helvetica, sans-serif;
    color: rgb(237, 242, 246);
    line-height: 2.455;
    position: absolute;
    left: 72.937px;
    top: 9.854px;
    z-index: 289;
  }
.headphone{
    position: absolute;
    top: 15px;
    left: 53px;
}
.mail {
    font-size: 11px;
    font-family:  Arial, Helvetica, sans-serif;
    color: rgb(237, 242, 246);
    line-height: 2.455;
    position: absolute;
    left: 260.937px;
    top: 9.854px;
    z-index: 291;
  }
.mail-icon{
    
    position: absolute;
    left: 240.937px;
    top: 16.854px;
    z-index: 291;
}
.row_2{
    text-align: center;
    width: 100%;
    margin-top: 135px;
}
.col-md-4 {

    width: 20.333333%;
    left: 304px;
}
.row_3 .thumbnail{
    border: 0;
    text-align: center;
    margin-top: 100px;
    border-radius: 4px;
}
.row_3 .thumbnail a>img{

    max-width: min-content;
}
.row_4 > h4{
    text-align: center;
    width: 100%;
    margin-top: 60px;
}
.row_4 > p{
    text-align: center;
    width: 100%;
    
}



.search-container {
    display: flex;
    align-items: center;
    margin-top: 29px;
    margin-left: 500px;
    margin-bottom: 50px;
    max-width: 500px;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    flex: 1;
}


.search-button {
    background-color: rgb(83, 194, 240);;
    color: white;
    border: none;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    flex: 0 0 50px;
}
.search-button:hover {
    background-color: rgb(52,65,233);
}
.row_5{

    margin-top: 100px;
}
.row_5 .thumbnail >img{

    max-width: min-content;
    
}
.row_5 .thumbnail{

    border: 0px;
    position: relative;
    left: 224px;
}

.row_5 .col-md-2 {
    width: 17.666667%;
}
.table-body{
    background-image: url("Map.png");
}
.outer-circle{
    width: max-content;
    position: absolute;
    top: -31px;
    left: 75px;
}
.inner-circle{
    position: absolute;
    top: -45px;
    left: 62px;
}
.server{
    position: absolute;
    left: 62px;
    top: 78px;
}
.white-shape{
    position: absolute;
    top: 167px;
    left: 6px;
}
.mini-cloud{
    position: absolute;
    top: 138px;
    left: 6px;
}
.row_5 .thumbnail>ul{
    list-style-type: none;
    position: absolute;
    top: 159px;
    left: 29px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.buy-button {
    background-color: rgb(83, 194, 240);;
    color: white;
    border: 1px solid;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    flex: 0 0 50px;
    position: absolute;
    padding: 10px 17px 10px 17px;
    left: 69px;
    top: 265px;
    
}
.buy-button:hover  {
    background-color: rgb(52,65,233);
}
.circle-text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
    top: -33px;
    width: 20px;
    left: 98px;
    text-align: center;
}
.row_6{
    text-align: center;
    width: 100%;
    margin-top: 135px;
    margin-bottom: 100px;
}
.contact-btn{
    background-color: rgb(83, 194, 240);;
    color: white;
    border: 1px solid;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    flex: 0 0 50px;
    position: relative;
    top: 42px;
}
.contact-button:hover  {
    background-color: rgb(52,65,233);
}
footer {
    padding: 7em 0; }
  
  .footer-03 {
    background-color: rgb(196,162,226);
    color: white;
    height: 379px;
    font-size: 14px; }
    .footer-03 a {
      color: white; }
    .footer-03 .footer-heading {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 500;
      margin-bottom: 30px; }
    .footer-03 .container{
        margin-bottom: 70px;
    }
    
.list-unstyled {
        padding-left: 0;
        list-style: disc;
        color: white;
    }
.footer-03 >img{
    position: relative;
    top: -115px;
    left: 195px;
}
.footer-cloud{
    position: relative;
    top: -184px;
}
.mid-cloud-footer{
    position: relative;
    top: -314px;
    left: 181px;

}
.row{
    position: inherit;
    top: -128px;
}
.row .col-md-4{
    margin: 26px;
    position: relative;
}
@media (max-width: 992px) {
    .col-md-6 {
      width: 100%; 
    }
  }
  footer {
    height: 30vh;  
  }
  
@media (max-width: 992px) {
    .col-md-6 {
      width: 100%; 
    }
  }
  @media (max-width: 575.98px) {
    .footer-heading {
      font-size: 20px;
    }
    .footer-03 .container {
      max-width: 100%;
      padding: 0;
    }
    .footer-03 .row {
      flex-direction: column;
    }
    .footer-03 .col-md-6 {
      margin-bottom: 30px;
    }
    .footer-03 .col-md-4 {
      margin-bottom: 30px;
    }
  }
  
  /* Medium devices (tablets, less than 768px) */
  @media (max-width: 767.98px) {
    .footer-heading {
      font-size: 24px;
    }
  }
  
  /* Large devices (desktops, less than 992px) */
  @media (max-width: 991.98px) {
    .footer-heading {
      font-size: 28px;
    }
  }
  
  /* Extra large devices (large desktops, less than 1200px) */
  @media (max-width: 1199.98px) {
    .footer-heading {
      font-size: 32px;
    }
  }

  /* Small devices (landscape phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar-header {
      float: none;
    }
    .navbar-brand {
      display: block;
      text-align: center;
      margin: auto;
    }
    .navbar-form,
    .navbar-nav {
      float: none !important;
      display: flex;
      justify-content: center;
    }
    .navbar-form {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .navbar-form .input-group {
      width: 100%;
    }
    .navbar-form .input-group-btn,
    .navbar-nav > li {
      display: block;
    }
    .navbar-nav > li {
      margin-top: 10px;
    }
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
    }
  }
  
  /* Medium devices (tablets, less than 768px) */
  @media (max-width: 767.98px) {
    .navbar-brand {
      font-size: 24px;
    }
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
    }
  }
  
  /* Large devices (desktops, less than 992px) */
  @media (max-width: 991.98px) {
    .navbar-brand {
      font-size: 28px;
    }
  }
  
  /* Extra large devices (large desktops, less than 1200px) */
  @media (max-width: 1199.98px) {
    .navbar-brand {
      font-size: 32px;
    }
  }